@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0f0f0f;
  max-width: 100vw;
  /* overflow-x: hidden; */
}

* {
  list-style: none;
  border-style: none;
  margin: 0;
  padding: 0;
}

.slide-show {
  animation: moveSlideshow 12s linear infinite;
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-66.6666%);
  }
}

.gradient-text {
  background: linear-gradient(91deg, #ff4c72 20.27%, #8250ff 81.11%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 65px;
}
